@font-face {
  font-family: "Futurist";
  src: url("../fonts/FUTRFW.TTF") format("truetype");
}

body {
  background: url("../images/background_image.jpg") no-repeat center center /
    cover fixed;
}

section {
  width: fit-content;
  max-width: 40%;
  padding: 1.5%;
  border: 1px solid #aaa;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font: 60px "Futurist", sans-serif;
  color: #f87839;
  margin: auto auto 0 auto;
}

h2 {
  font: 30px "Futurist", sans-serif;
}

section > h2 {
  font: italic 30px "Georama", sans-serif;
}

h3 {
  font: bold 20px "Georama", sans-serif;
  letter-spacing: 2px;
}

p {
  font: 16px "Georama", sans-serif;
  line-height: 1.5em;
}

ol > li {
  font: bold 20px "Georama", sans-serif;
}

ol > li > ul {
  list-style-type: none;
}

.underline {
  text-decoration: underline;
}
